<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="DataBase" connectionString="Driver={SQL Server Native Client 10.0};Server=tcp:gdi25hte5c.database.windows.net,1433;Database=feltz_db;Uid=lfeltz@gdi25hte5c;Pwd=Ludo0104;Encrypt=yes;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>